.intro {
    .intro-sentence-container { 
        background-color: #404040;  
        margin-top: 7rem; 
        padding: 7rem 0;
        .intro-sentence {
            display: block;
            margin: 0 auto;
            max-width: 472px;
            color: $white;
            .intro-light {
                font-family: 'Helvetica', sans-serif;
                font-weight: 100; 
                font-size: 22px;
                @media screen and (max-width: 650px) {
                    font-size: 18px; 
                }
            }
            .intro-bold {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 25px;
                letter-spacing: 2px; 
                @media screen and (max-width: 650px) {
                    font-size: 18px; 
                }
            }
            @media screen and (max-width: 650px) {
                padding: 0 2rem;
            }
        }
    
    }   
    .work-tagline {
        text-align: center;
        margin: 2rem 0 5rem;
        h3 {
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            color: #7A797A;
        }
        img {
            width: 2rem;
            margin: 1rem;
            position: relative;
            -webkit-animation: bounce 1s infinite;
            /* Safari 4.0 - 8.0 */
            animation: bounce 1s infinite;
        }
        @keyframes bounce {
            0% {
            transform: translateY(0%);
            }
    
            25% {
            transform: translateY(12%) skewY(-.5deg);
            }
    
            50% {
            transform: translateY(20%) skewY(0.5deg);
            }
    
            100% {
            transform: translateY(0%);
            }
        }
    }
}