figure img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    &:hover {
        -webkit-filter: blur(500px);
        filter: blur(500px);
    }
}
  
figure .caption {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    color: #fff;
    z-index: 1;
    transition: all 300ms ease-out;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 15px;
    h3 {
        // width: 85%;
        // display: block;
        // margin: 0 auto;
        position: absolute; 
        text-align: left;
        bottom: 30px;
        left: 20px;
        line-height: 1;
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 5vw;
        @media (max-width: 1040px) {
            font-size: 2rem;
        }
        @media (max-width: 840px) {
            font-size: 1rem;
        }
    }
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        position: absolute; 
        bottom: 0px;
        left: 20px;
    }
}
  
figure:hover .fade-caption {
    opacity: 1;
}
  
  
  
  
  